body {
  text-align: center;
  background-color: black;
}
#spillBoks {
  display: inline-block;
  width: 800px;
  height: 800px;
  background-color: grey;
  position: relative;
}
#poengTeller {
  color: red;
}
#romskip {
  bottom: 40px;
  left: 400px;
  display: inline-block;
  width: 60px;
  height: 80px;
  background-color: navy;
  position: absolute;
}
.laserClass {
  bottom: 120px;
  display: inline-block;
  width: 10px;
  height: 30px;
  background-color: green;
  position: absolute;
}
.ufoClass {
  bottom: 800px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
}
